body{
	margin: 0;
	padding: 0;
	background-color: lightgray;
}

h2{
	font-size: 20px;
}

a:active, 
a:hover,  
a{
  text-decoration: none;
  color: DodgerBlue;
}

.tarifsItem{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	background-color: white;
	font-size: 18px;

	.tarifsTitle{
		color: LimeGreen;
	}

	.tarifsContent{
		position: relative;
		.arrow-right{
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -12px;

			a{
				font-size: 25px;
				font-weight: bold;
				color: gray;
			}
			
		}
		.tarifsSpeed{
			margin-left: -20px;
			margin-bottom: 20px;
			padding-left: 20px;
			color: white;
			font-weight: bold;
			padding-top: 5px;
			padding-bottom: 5px;
			width: 100px;
		}
	}	
}

#greenSpeed{
	background-color: green;
}
#blueSpeed{
	background-color: blue;
}
#redSpeed{
	background-color: red;
}
